%header
  %nav
    .nav-wrapper
      %a.brand-logo{ href: '#' } Pictures
      %ul#nav-mobile.right.hide-on-med-and-down
        %li
          %a{ href: '#' } Signup
        %li
          %a{ href: '#' } Login