-# %header
-#   %nav.navbar.navbar-expanded-lg.navbar-light.bg-light
-#     %a{ href: '#', class: 'navbar-brand' } Pictures
    -# %button.navbar-toggler{ type: 'button',
    -#                         data: { toggle: 'collapse',
    -#                                 target: 'Navber'},
    -#                         area: { expanded: false,
    -#                                 controls: 'Navber',
    -#                                 label: 'ナビゲーションの切替'}}
    -#   %span.navbar-toggler-icon
    -# .collapse.navbar-collapse#Navbar
    -#   %ul.navbar-nav.mr-auto
    -#     %li.nav-items
    -#       %a.nav-link{ href: '#' } Signup
    -#     %li.nav-items
    -#       %a.nav-link{ href: '#' } Login